* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.layout {
  display: flex;
  flex-direction: column;
}

/* =============== COMPONENTS =============== */

.back-header {
  height: 10vh;
  background-color: #42daf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.back-header a {
  text-decoration: none;
  color: #000;
}

.back-footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  padding: 0 18px;
  display: flex;
  align-items: center;
}

.front-header {
  height: 10vh;
  padding: 0 18px;
  background-color: #42daf5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.front-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.front-header ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.front-header ul li a:hover {
  text-decoration: underline;
}

.front-footer {
  background-color: #000;
  color: #fff;
  height: 10vh;
  padding: 0 18px;
  display: flex;
  align-items: center;
}

.section {
  height: 80vh;
  display: flex;
}

.section .content {
  width: 80%;
  padding: 20px;
}

.front-section {
  height: 80vh;
}

.section .admin-sidebar {
  width: 20%;
  background-color: rgb(223, 223, 223);
}

.section .admin-sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.section .admin-sidebar .nav-links {
  text-decoration: none;
  color: black;
}

.section .admin-sidebar .nav-links:hover {
  text-decoration: underline;
  color: black;
}

/* =============== CONTACT US =============== */
.contact-container {
  display: flex;
  justify-content: center;
}

.contact-section {
  padding: 40px;
  width: 620px;
}

.contact-section h2 {
  text-align: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-box input {
  padding: 18px 6px;
  outline: none;
}

.contact-box textarea {
  padding: 18px 6px;
  height: 122px;
  outline: none;
  resize: vertical;
}

.contact-box button {
  padding: 16px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 8px;
}

/* =============== LOGIN-SIGNUP =============== */

.login-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 520px;
}

.login-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-elements input {
  padding: 16px 8px;
  outline: none;
}

.login-elements .login-btn {
  margin-top: 10px;
  background-color: #000;
  color: #fff;
  height: 44px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-left: 20px;
}

/* =============== HOME ============== */

.hero-section {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hero-section button {
  height: 42px;
  width: 220px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  font-weight: bold;
}

.extra-section {
  height: 40vh;
  background-color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.extra-section button {
  height: 42px;
  width: 220px;
  background-color: #000;
  margin-top: 20px;
}

.extra-section button a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* =============== Setting =================== */

.setting-title {
  text-align: center;
  margin-bottom: 40px;
}

.setting-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setting-btns {
  list-style: none;
  border: solid 1px #000;
  padding: 20px;
  text-align: center;
}

.setting-btns a {
  text-decoration: none;
  color: #000;
}

/* =============== Blog =================== */

.blog-contents th,
td {
  border: solid 1px #999;
  padding: 10px;
}

.blog-title {
  padding: 0px 42px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.blog-title button {
  padding: 5px 32px;
}

.blog-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.action-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.action-btns button {
  padding: 5px 22px;
}

/* =============== Create Blog =================== */
.create-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.create-box {
  background-color: none;
  border: solid 1px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-box h2 {
  margin-bottom: 20px;
}

.box-lables {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
}

.box-lables input {
  height: 32px;
  width: 520px;
  outline: none;
  padding: 5px;
}

.box-lables textarea {
  width: 520px;
  height: 120px;
  resize: vertical;
  outline: none;
  padding: 5px;
}

.box-lables button {
  height: 42px;
  background-color: #fff;
  border: solid 1px;
  font-weight: bold;
}

.create-section a {
  margin-top: 20px;
}

/* =============== Dashboard =================== */

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dashboard-section button {
  padding: 5px 36px;
}
